@page "/monster_traits/details"
@using Microsoft.EntityFrameworkCore
@using ClassLibrary1
@using Microsoft.AspNetCore.Components.Web
@inject IDbContextFactory<BlazorApp1.Data.BlazorApp1Context> DbFactory
@inject NavigationManager NavigationManager

@rendermode RenderMode.InteractiveServer

<PageTitle>Details</PageTitle>

<div class="page-container">
    <h1 class="page-title">Assignment Details</h1>

    @if (MonsterTrait is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="ability-card">
            <div class="details-list">
                <div class="details-label">ID</div>
                <div class="details-value">@MonsterTrait.ID</div>

                <div class="details-label">Monster</div>
                <div class="details-value">@MonsterTrait.Monster?.Name</div>

                <div class="details-label">Trait</div>
                <div class="details-value" style="font-weight:bold; color:var(--primary-color)">
                    @MonsterTrait.Trait?.Trait_Name
                </div>
            </div>

            <div style="margin-top: 2rem; display:flex; gap: 10px;">
                <a href="@($"/monster_traits/edit?id={MonsterTrait.ID}")" class="btn-action btn-primary">Edit</a>
                <a href="/monster_traits" class="btn-action btn-secondary">Back to List</a>
            </div>
        </div>
    }
</div>

@code {
    [SupplyParameterFromQuery]
    private int ID { get; set; }

    public Monster_Traits? MonsterTrait { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();

        // Include işlemleri
        MonsterTrait = await context.Monster_Traits
            .Include(m => m.Monster)
            .Include(t => t.Trait)
            .FirstOrDefaultAsync(m => m.ID == ID);

        if (MonsterTrait is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}