<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Monster DB</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monsters">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Monsters
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="abilities">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Abilities
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="traits">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Traits
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="loots">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Loot
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="habitats">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Habitats
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monster_types">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Monster Types
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="damage_types">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Damage Types
            </NavLink>
        </div>

        <div class="nav-item px-3" style="border-top: 1px solid rgba(255,255,255,0.2); margin-top: 10px; padding-top: 10px;">
            <small style="color: #aaa; margin-left: 10px;">Relations</small>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monster_habitat_loots">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Drop Rates
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monster_resistances">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Resistances
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monster_weaknesses">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weaknesses
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monster_abilities">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Monster Abilities
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monster_traits">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Monster Traits
            </NavLink>
        </div>
    </nav>
</div>